<h2>Start a new conversation:</h2><br>
<form action="/conversations" method="post">
  <label for="topic">Topic:</label>
  <input type="text" name="conversation[topic]" placeholder="Topic" id="topic"><br><br>
  <label for="content">Content:</label><br>
  <textarea name="post[content]" rows="8" cols="40"id="content"></textarea><br>
  <input type="submit" value="Start Conversation">
</form>
