<h1>Sign Up:</h1>
<form action="/signup" method="post">
  <label for="username">Username:</label>
  <input type="text" name="user[username]" placeholder="Username" id="username"><br><br>
  <label for="email">Email:</label>
  <input type="email" name="user[email]" placeholder="email" id="email"><br><br>
  <label for="password">Password:</label>
  <input type="password" name="user[password]" placeholder="Password" id="password"><br><br>
  <label for="email">Age:</label>
  <input type="text" name="user[age]" placeholder="Age (optional)" id="age"><br><br>
  <label for="email">Location:</label>
  <input type="text" name="user[location]" placeholder="Location (optional)" id="location"><br><br>
  <label for="image_url">Profile Picture::</label>
  <input type="text" name="user[image_url]" placeholder="Image URL (optional)" id="image_url"><br><br>
  <input type="submit" value="Create User">
</form>
